// Variables
@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Fontsource Roboto
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

.MuiTableRow-root {
    @apply cursor-pointer;
}

.MuiTableHead-root {
    @apply bg-slate-300;
}

// Container.js
.container {
    @apply w-11/12 sm:w-4/5 p-6 sm:p-16 top-0 shadow-md rounded-xl bg-white z-10 m-auto -mt-20;

    min-height: 80%;
}

// Layout.js
.layout {
    //display: flex;
    @apply items-center justify-center relative;
}

// Card.js
.card {
    @apply bg-white rounded-xl m-4 p-4 shadow-md;
}

// MainNavigation.js
.mainNav {
    &__header {
        background-color: $deep-blue;
        padding: 0 10%;
        @apply shadow top-0 h-60 w-full;

        div {
            @apply flex h-20 justify-between items-center;
        }

        ul {
            @apply items-baseline flex p-0 m-0 list-none;
        }

        li {
            @apply mx-0 my-4;
        }

        a {
            @apply font-bold text-white no-underline;

            a:hover {
                @apply text-blue-200;
            }
        }

        button {
            font: inherit;
            @apply cursor-pointer whitespace-nowrap bg-transparent text-white border border-white rounded-md font-bold px-6 py-2;
        }

        button:hover {
            @apply bg-blue-200;
            color: $deep-blue;
        }
    }

    &__logo {
        @apply text-white m-0;
    }

    &__title {
        @apply text-2xl sm:text-4xl text-white font-medium not-italic;
    }
}

// tables
.table {
    &__url {
        @apply truncate block float-right w-32 md:w-64;
    }
    &__date {
        @apply truncate block float-right;
    }

    &__titleUrl {
        @apply block w-32 md:w-64 truncate;
    }

    &__title {
        @apply my-4 font-medium text-xl flex justify-between;
    }
}

// results (Audit.js, PerformanceHistory.js)
.result {
    &__score {
        @apply flex flex-col md:flex-row  -mx-3 overflow-hidden;
        &-graph {
            @apply my-3 px-3  overflow-hidden   md:w-2/5;
        }
        &-info {
            @apply my-3 px-3  w-full overflow-hidden md:w-3/5;
        }
    }
    &__description {
        @apply text-left  text-sm md:text-base text-gray-500;
        &-audit {
            @apply p-6 border-t-2 md:border-t-0 md:border-l-2;
        }
        &-performance {
            @apply pt-10 mt-8;
        }
    }
    &__title {
        @apply text-gray-900 mb-2;
        &-audit {
            @apply text-5xl;
        }
        &-performance {
            @apply text-3xl md:text-5xl;
        }
    }

    &__subtitle {
        @apply text-gray-500  w-64 sm:w-10/12 truncate;

        &-audit {
            @apply text-3xl mb-16;
        }
        &-performance {
            @apply text-2xl md:text-3xl mb-8;
        }
    }

    &__performance {
        @apply text-3xl text-gray-900 mb-8 mt-16;
    }

    &__list {
        @apply list-inside list-disc;
    }

    &__chart {
        @apply mb-8 md:m-16 ;
    }

    &__datePickers {
        @apply flex flex-col sm:flex-row justify-center;

        &-datePicker {
            @apply m-2 md:m-4 #{!important};
        }
    }
}

.project__title {
    @apply mb-8 flex text-xl md:text-2xl text-gray-500 items-center flex-wrap;
}

// Footer.js
.footer {
    @apply bottom-0 m-12;

    img {
        @apply inline;
    }
}
