
.description{
    @apply  pt-10 mt-16 text-left border-t-2 text-lg text-gray-500;
}

.title{
    @apply text-3xl md:text-5xl text-gray-900 mb-2

}

.project{
    @apply text-xl md:text-2xl text-gray-900 mb-4

}

.subtitle{
    @apply text-2xl md:text-3xl text-gray-500 mb-16 w-64 sm:w-10/12;

    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.performance{
    @apply text-3xl text-gray-900 mb-8
}

.list{
    @apply list-inside list-disc;
}

.chart{
    @apply sm:m-16 ;
}

.datePickers {
    @apply flex flex-col sm:flex-row justify-center;

    .datePicker{
        @apply m-2 md:m-4;
    }

}