.url {
    display: block;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @apply w-32 md:w-64;
    
}
.date {
    display: block;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
      
    
}

.titleUrl {
    display: block;
    @apply w-32 md:w-64;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    @apply my-4 font-medium text-xl flex justify-between;
}

.project{
    @apply text-xl md:text-2xl text-gray-900 mb-4

}