

.description{
    @apply  p-6 mb-16 text-left border-t-2 md:border-t-0 md:border-l-2 text-lg text-gray-500;
}

.title{
    @apply text-5xl text-gray-900 mb-2

}
.project{
    @apply text-xl md:text-2xl text-gray-900 mb-4 align-middle

}
.subtitle{
    @apply text-3xl text-gray-500 mb-16 w-64 sm:w-10/12;

    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.performance{
    @apply text-3xl text-gray-900 mb-8
}


